### SVVIZ Data: Parse Insertion and Deletion Values

The following describes how insertion and deletion labels were updated based on length and start/end difference. This example is reflective of 1 dataset (**300x**). This process was repeated for each technology seperately:

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Analyzed the '___castall' dataframes from the R script for each technology individually. Stored each dataframe in a CSV file. The '300xtest.csv' file is the same as the 'AJ300xcastall' dataframe.

In [3]:
train = pd.read_csv('300xtest.csv')
df = pd.DataFrame(train)
df2 = pd.DataFrame(train)

Initial insertion and deletion counts.

In [4]:
SV_count_all = pd.crosstab(index=df['type'], columns="count")
SV_count_all

col_0      count
type
Deletion     585
Insertion   2387

### Insertions

Select all rows that contain 'Insertion' in the variant column.
FYI: I could have also filtered based on the 'Type' column

In [5]:
df = df[df['variant'].str.contains("Insertion")]
df.tail(4)

,variant,sample,id,Ill300x.alt_alnScore_mean,Ill300x.alt_alnScore_std,Ill300x.alt_count,Ill300x.alt_insertSize_mean,Ill300x.alt_insertSize_std,Ill300x.alt_reason_alignmentScore,Ill300x.alt_reason_insertSizeScore,...,Ill300x.ref_insertSize_mean,Ill300x.ref_insertSize_std,Ill300x.ref_reason_alignmentScore,Ill300x.ref_reason_insertSizeScore,Ill300x.ref_reason_orientation,type,chrom,start,end,Ill300x.GT
2968,"Insertion::1:4,137,801-4,137,802;len=118",HG003,999,0.0,0.0,0,0.0,0.0,0,0,...,1087.1300,185.7290,6,17,0,Insertion,1,4137800,4137802,-1
2969,"Insertion::1:4,137,801-4,137,802;len=118",HG003,1000,0.0,0.0,0,0.0,0.0,0,0,...,1087.1300,185.7290,6,17,0,Insertion,1,4137800,4137802,-1
2970,"Insertion::1:4,137,801-4,137,802;len=118",HG004,999,0.0,0.0,0,0.0,0.0,0,0,...,982.9189,246.7497,18,19,0,Insertion,1,4137800,4137802,-1
2971,"Insertion::1:4,137,801-4,137,802;len=118",HG004,1000,0.0,0.0,0,0.0,0.0,0,0,...,982.9189,246.7497,18,19,0,Insertion,1,4137800,4137802,-1

In [6]:
SV_count_ins = pd.crosstab(index=df['type'], columns="count")
SV_count_ins

col_0      count
type
Insertion   2387

Store 'len' values in a separate column within the df dataframe.

In [92]:
def length1(len):
	len_1 = len.split(';')[1]
	# len_2 = len_1[2].split('=')[0]
	return len_1


def length2(len):
	len_1 = len.split('=')[1]
	# len_2 = len_1[2].split('=')[0]
	return len_1

results = pd.DataFrame()
results['length'] = df['variant'].apply(length1)
results['lengthNum'] = results['length'].apply(length2)
df['length'] = results['lengthNum'].astype(int)
results.head()

  length lengthNum
0  len=1         1
1  len=1         1
2  len=1         1
3  len=1         1
4  len=1         1

In [93]:
df.head()

,variant,sample,id,Ill300x.alt_alnScore_mean,Ill300x.alt_alnScore_std,Ill300x.alt_count,Ill300x.alt_insertSize_mean,Ill300x.alt_insertSize_std,Ill300x.alt_reason_alignmentScore,Ill300x.alt_reason_insertSizeScore,...,Ill300x.ref_insertSize_std,Ill300x.ref_reason_alignmentScore,Ill300x.ref_reason_insertSizeScore,Ill300x.ref_reason_orientation,type,chrom,start,end,Ill300x.GT,length
0,"Insertion::1:10,403-10,441;len=1",HG002,1,553.148148,17.368988,54,489.574074,187.475984,54,0,...,143.942554,90,0,0,Insertion,1,10402,10441,-1,1
1,"Insertion::1:10,403-10,441;len=1",HG003,1,550.000000,17.492856,14,526.785714,142.298067,14,0,...,96.177224,89,0,0,Insertion,1,10402,10441,-1,1
2,"Insertion::1:10,403-10,441;len=1",HG004,1,558.030303,13.476095,33,408.969697,121.641920,33,0,...,144.922060,66,0,0,Insertion,1,10402,10441,-1,1
3,"Insertion::1:10,415-10,441;len=1",HG002,2,549.090909,19.374090,11,432.181818,127.304801,11,0,...,147.328757,101,0,0,Insertion,1,10414,10441,-1,1
4,"Insertion::1:10,415-10,441;len=1",HG003,2,555.692308,15.555779,26,428.307692,93.196966,26,0,...,127.613901,55,0,0,Insertion,1,10414,10441,-1,1

Assign correct Insertion and Deletion Labels

![alt text](https://raw.githubusercontent.com/lesleymaraina/NIST/master/Images/Parse.InsDel/InsDel/Ins2.png "Insertion")

In [94]:
diff = df['end'] - df['start']
df['Size'] = df['length'] - diff
def InsDel(name):
	if name > 0:
		return 'Insertion'
	elif name < 0:
		return 'Deletion'


df['SVtype'] = df['Size'].apply(InsDel)
SV_count = pd.crosstab(index=df['SVtype'], columns="count")
SV_count

col_0      count
SVtype
Deletion     732
Insertion   1655

In [79]:
df = df.drop(['length'], axis=1)
df.head(5)

,variant,sample,id,Ill300x.alt_alnScore_mean,Ill300x.alt_alnScore_std,Ill300x.alt_count,Ill300x.alt_insertSize_mean,Ill300x.alt_insertSize_std,Ill300x.alt_reason_alignmentScore,Ill300x.alt_reason_insertSizeScore,...,Ill300x.ref_reason_alignmentScore,Ill300x.ref_reason_insertSizeScore,Ill300x.ref_reason_orientation,type,chrom,start,end,Ill300x.GT,Size,SVtype
0,"Insertion::1:10,403-10,441;len=1",HG002,1,553.148148,17.368988,54,489.574074,187.475984,54,0,...,90,0,0,Insertion,1,10402,10441,-1,-38,Deletion
1,"Insertion::1:10,403-10,441;len=1",HG003,1,550.000000,17.492856,14,526.785714,142.298067,14,0,...,89,0,0,Insertion,1,10402,10441,-1,-38,Deletion
2,"Insertion::1:10,403-10,441;len=1",HG004,1,558.030303,13.476095,33,408.969697,121.641920,33,0,...,66,0,0,Insertion,1,10402,10441,-1,-38,Deletion
3,"Insertion::1:10,415-10,441;len=1",HG002,2,549.090909,19.374090,11,432.181818,127.304801,11,0,...,101,0,0,Insertion,1,10414,10441,-1,-26,Deletion
4,"Insertion::1:10,415-10,441;len=1",HG003,2,555.692308,15.555779,26,428.307692,93.196966,26,0,...,55,0,0,Insertion,1,10414,10441,-1,-26,Deletion

### Deletions

In [80]:
# Step 2: Deletions
df2 = df2[df2['variant'].str.contains("Deletion")]
SV_count_del = pd.crosstab(index=df2['type'], columns="count")
SV_count_del

col_0     count
type
Deletion    585

![alt text](https://raw.githubusercontent.com/lesleymaraina/NIST/master/Images/Parse.InsDel/InsDel/Del.png "Deletion")

In [81]:
diff2 =  df2['start'] - df2['end']
df2['Size'] =  diff2

In [82]:
def InsDel(name):
	if name > 0:
		return 'Insertion'
	elif name <= 0:
		return 'Deletion'


df2['SVtype'] = df2['Size'].apply(InsDel)

In [83]:
SV_count = pd.crosstab(index=df2['SVtype'], columns="count")
SV_count

col_0     count
SVtype
Deletion    585

### Merge Insertion and Deletion Dataframes

In [84]:
new_df = pd.concat([df, df2], axis=0)
new_df.head()

,variant,sample,id,Ill300x.alt_alnScore_mean,Ill300x.alt_alnScore_std,Ill300x.alt_count,Ill300x.alt_insertSize_mean,Ill300x.alt_insertSize_std,Ill300x.alt_reason_alignmentScore,Ill300x.alt_reason_insertSizeScore,...,Ill300x.ref_reason_alignmentScore,Ill300x.ref_reason_insertSizeScore,Ill300x.ref_reason_orientation,type,chrom,start,end,Ill300x.GT,Size,SVtype
0,"Insertion::1:10,403-10,441;len=1",HG002,1,553.148148,17.368988,54,489.574074,187.475984,54,0,...,90,0,0,Insertion,1,10402,10441,-1,-38,Deletion
1,"Insertion::1:10,403-10,441;len=1",HG003,1,550.000000,17.492856,14,526.785714,142.298067,14,0,...,89,0,0,Insertion,1,10402,10441,-1,-38,Deletion
2,"Insertion::1:10,403-10,441;len=1",HG004,1,558.030303,13.476095,33,408.969697,121.641920,33,0,...,66,0,0,Insertion,1,10402,10441,-1,-38,Deletion
3,"Insertion::1:10,415-10,441;len=1",HG002,2,549.090909,19.374090,11,432.181818,127.304801,11,0,...,101,0,0,Insertion,1,10414,10441,-1,-26,Deletion
4,"Insertion::1:10,415-10,441;len=1",HG003,2,555.692308,15.555779,26,428.307692,93.196966,26,0,...,55,0,0,Insertion,1,10414,10441,-1,-26,Deletion

In [85]:
SV_count3 = pd.crosstab(index=new_df['SVtype'], columns="count")
SV_count3

col_0      count
SVtype
Deletion    1317
Insertion   1655

**Final Output**: stored final dataframe 'new_df' in a new CSV for each technology.

__Additional Questions__
+ How should I include this information in the R script?
    * Should I consolidate all of the dataframes into one to include in the R script?
    
    or
    * Should each dataframe be used seperately for the R script?

![alt text](https://raw.githubusercontent.com/lesleymaraina/NIST/master/Images/Parse.InsDel/InsDel/Slide1.png "RScript Graphs")